<block sidebar>
    <ul class="sidebar-nav">
        <li>
            <a href="/inventory">Home</a>
        </li>
        <li>
            <a href="/inventory/games">All Games</a>
        </li>
        <li>
            <a href="/inventory/categories">All Categories</a>
        </li>
        <li>
            <hr>
        </li>
        <li>
            <a href="/inventory/game/create">Create New Game</a>
        </li>
        <li>
            <a href="/inventory/category/create">Create New Category</a>
        </li>
    </ul>
</block>